.catalog {
  padding: 58px 0;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 23px;
  margin-bottom: 35px;
}

.catalog-offer-card {
  background-color: var(--light-color);
  border: 1px solid var(--gray-color);
  border-radius: var(--border-radius);
  padding: 18px;
  text-align: center;
  transition: var(--transition);
}

.catalog-offer-card:hover {
  transform: translateY(-5px);
}

.catalog-offer-card img {
  width: 130px;
  height: 130px;
  object-fit: contain;

}

.catalog-offer-card h4 {
  font-size: 16px;
  margin-bottom: 8px;
  color: var(--text-color);
  text-decoration: none !important;
}

.catalog-offer-card {
  text-decoration: none !important;
}

.catalog-offer-card h4 {
  text-decoration: none !important;
}


/* Responsive Design */
@media (max-width: 1400px) {
  .catalog-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .catalog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .catalog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .catalog-grid {
    grid-template-columns: 1fr;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.cart-btn {
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-color);
  color: var(--text-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 18px;
  transition: var(--transition);
}

.cart-btn:hover {
  background-color: var(--primary-color);
  color: var(--text-light);
  transform: translateY(-2px);
}

.order-btn {
  flex: 1;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: var(--transition);
}

.order-btn:hover {
  background-color: #b71c1c;
  transform: translateY(-2px);
}


/* catalog-list */

